<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>延期</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <!-- font CSS -->
    <!-- font-awesome icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js-->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <!--webfonts-->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
    <!--animate-->
    <link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- Metis Menu -->
    <script src="js/metisMenu.min.js"></script>
    <script src="js/custom.js"></script>
    <link href="css/custom.css" rel="stylesheet">
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <!--//Metis Menu -->
</head>
<body class="cbp-spmenu-push">
<div class="main-content">
    <div th:include="leftNav :: leftnav"></div>
    <div th:include="head :: header(staffName=${session.staff.staffName})"></div>
    <div id="page-wrapper">
        <div class="main-page">
            <div class="blank-page widget-shadow scroll" id="style-2 div1">
                <div class="form-two widget-shadow">
                    <div class="form-title">
                        <h4>选择延期方式 :</h4>
                    </div>
                    <div class="form-body" data-example-id="simple-form-inline">
                        <select class="form-control1" onchange="window.location=this.value;">
                            <option value="/orderPostponeTotal">全部延期</option>
                            <option value="/orderPostpone">部分延期</option>
                        </select>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="form-two widget-shadow">
                    <div class="form-title">
                        <h4>输入用户姓名进行查找 :</h4>
                    </div>
                    <div class="form-body" data-example-id="simple-form-inline">
                        <form class="form-inline" th:action="@{/orderPostponeAll}">
                            <div class="form-group col-md-4">
                                <label for="consumerName">客户姓名：</label>
                                <input type="text" class="form-control" name="consumerName" id="consumerName" placeholder="客户姓名" >
                            </div>
                            <div class="form-group col-md-4">
                                <label for="postponeTime">延期时长：</label>
                                <input type="text" class="form-control" name="postponeTime" id="postponeTime" placeholder="延期时长">
                            </div>
                            <button type="submit" class="btn btn-primary" style="float: left" onclick="return confirm('确认是否延期此用户的全部订单？')">全部延期</button>
                        </form>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="foot :: footer"></div>
</div>
<!-- Classie -->
<script src="js/classie.js"></script>
<script>
    var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        showLeftPush = document.getElementById( 'showLeftPush' ),
        body = document.body;

    showLeftPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeftPush' );
    };

    function disableOther( button ) {
        if( button !== 'showLeftPush' ) {
            classie.toggle( showLeftPush, 'disabled' );
        }
    }
</script>
<script th:inline="javascript" type="text/javascript">
    var sourceName=[[${listConsumerName}]];
    $("#consumerName").autocomplete({
        source:sourceName,
        messages: {
            noResults: '',
            results: function() {}
        }
    });
</script>
<!--scrolling js-->
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!--//scrolling js-->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.js"> </script>
</body>
</html>