<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>客户订阅详情</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript">
	
	
	
	
	
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 






</script>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- js-->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<!--webfonts-->
<link
	href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic'
	rel='stylesheet' type='text/css'>
<!--//webfonts-->
<!--animate-->
<link href="css/animate.css" rel="stylesheet" type="text/css"
	media="all">
<script src="js/wow.min.js"></script>
<script>
	new WOW().init();
</script>
<!--//end-animate-->
<!-- Metis Menu -->
<script src="js/metisMenu.min.js"></script>
<script src="js/custom.js"></script>
<link href="css/custom.css" rel="stylesheet">
<!--//Metis Menu -->
</head>
<body class="cbp-spmenu-push">
	<div class="main-content">
		<!--left-fixed -navigation-->
		<div th:include="kefuleftnav :: leftnav"></div>
		<!--left-fixed -navigation-->
		<!-- header-starts -->
		<div th:include="head :: header(staffName=${session.staff.staffName})"></div>
		<!-- //header-ends -->
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page">
				<div class="blank-page widget-shadow scroll" id="style-2 div1">
					<div class="form-two widget-shadow">
						<div class="form-body" data-example-id="simple-form-inline">
							<form class="form-inline">
								<div class="form-group">
									<label for="pressName">客户ID：</label> <input type="number"
										class="form-control" id="consumerId" name="consumerId" readonly="readonly"
										th:value="${consumer.getId()}">
								</div>
								
								<div class="form-group">
									<label for="consumerName">客户名称：</label> <input type="text"
										class="form-control" id="consumerName" name="consumerName"
										th:if="${consumer.getName()!=null}" th:value="${consumer.getName()}" readonly="readonly">
										<input type="text"
										class="form-control" id="consumerName" name="consumerName"
										th:if="${consumer.getName()==null}" readonly="readonly">
								</div >
								<div class="form-group">
									<h3>
							<a th:href="@{/queryconall}"><span class="label label-primary">返回</span></a>
						</h3>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!--  <div style="width: 100%; height: 35px;"></div>-->
				
				<!--  <div >
				<div style="margin-top: 10px;margin-right:20px;float:right">
						<h3>
							<a th:href="@{/queryconall}"><span class="label label-primary">返回</span></a>
						</h3>
						</div>
						<div style="clear: both; overflow: hidden;"></div>
					</div>-->


				<div class="bs-example widget-shadow"
					data-example-id="contextual-table">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>订单ID</th>
								<th>客户ID</th>
								<th>客户名称</th>
								<th>报刊ID</th>
								<th>报刊名称</th>
								<!--  <th>操作</th>-->
							</tr>
						</thead>
						<tbody>
							<tr th:each="object :${objectlist}">
								<th scope="row" th:text="${object[0].toString()}">null</th>
								<td  th:text="${object[1].toString()}">null</td>
								<td th:if="${object[2]!=null}" th:text="${object[2].toString()}">null</td>
								<td th:if="${object[2]==null}"></td>
								<td th:if="${object[3]!=null}" th:text="${object[3].toString()}">null</td>
								<td th:if="${object[3]==null}"></td>
								<td th:if="${object[4]!=null}" th:text="${object[4].toString()}">null</td>
								<td th:if="${object[4]==null}"></td>
								<!--  <td><a th:href="@{/toconordersdetail(id=${object[0].toString()})}">详情</a></td>-->
							</tr>
						</tbody>
					</table>
					<!--  <div th:text="${objectlist.getNumber()}">###</div> -->
					<div th:if="${objectlist!=null}" th:include="listpage :: pager"
						th:remove="tag"></div>
				</div>
			</div>
		</div>
		<!--footer-->
		<div class="footer"></div>
		<!--//footer-->
	</div>
	<!-- Classie -->
	<script src="js/classie.js"></script>
	<script>
		var menuLeft = document.getElementById('cbp-spmenu-s1'), showLeftPush = document
				.getElementById('showLeftPush'), body = document.body;

		showLeftPush.onclick = function() {
			classie.toggle(this, 'active');
			classie.toggle(body, 'cbp-spmenu-push-toright');
			classie.toggle(menuLeft, 'cbp-spmenu-open');
			disableOther('showLeftPush');
		};

		function disableOther(button) {
			if (button !== 'showLeftPush') {
				classie.toggle(showLeftPush, 'disabled');
			}
		}
	</script>
	<!--scrolling js-->
	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<!--//scrolling js-->
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.js">
		
	</script>
</body>
</html>