<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="centerhead">
<body>
	<div th:fragment="header">
	<div class="sticky-header header-section ">
		<div class="header-left">
			<!--toggle button start-->
			<button id="showLeftPush">
				<i class="fa fa-bars"></i>
			</button>
			<!--toggle button end-->
			<!--logo -->
			<div class="logo">
				<a href="/tocenterindex">
					<h1>报刊发行系统</h1> <span>中心站</span>
				</a>
			</div>
			<!--//logo-->
			<div class="clearfix"></div>
		</div>


		<div class="clearfix"></div>
	</div>
	</div>
</body>
</html>