<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>订户订期分析</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
 <!-- js-->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<!--webfonts-->
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts-->
<!-- chart -->
<script src="js/Chart.js"></script>
<!-- //chart --> 
<!--animate-->
<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!-- Metis Menu -->
<script src="js/metisMenu.min.js"></script>
<script src="js/custom.js"></script>
<link href="css/custom.css" rel="stylesheet">
<!--//Metis Menu -->
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		<div th:include="leaderleftNav :: leftnav"></div>
		<div th:include="head :: header(staffName=${session.staff.staffName})"></div>
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page charts-page">
				<h3 class="title1">订户订期分析</h3>
				<div class="charts">

					<div class="col-md-6  chrt-page-grids">
						<h4 class="title">各种订期的订户数量 及 订阅份数</h4>
						<canvas id="bar" height="300" width="400" style="width: 400px; height: 300px;"></canvas>
					</div>

					<div class="col-md-6 chrt-page-grids chrt-right">
						<h4 class="title">所占百分比</h4>
						<div class="doughnut-grid">
							<canvas id="doughnut" style="width:416px; height: 306px;"></canvas>
						</div>
					</div>

					<div class="clearfix"> </div>
					<script th:inline="javascript">
						var doughnutData = [
							{
								value: [[${sum[0]}]],
								color:"#4F52BA",
								label:[[${timename[0]}]]
							},
							{
								value : [[${sum[1]}]],
								color : "#F2B33F",
								label:[[${timename[1]}]]
							},
							{
								value : [[${sum[2]}]],
								color : "#585858",
								label:[[${timename[2]}]]
							},
							{
								value : [[${sum[3]}]],
								color : "#e94e02",
								label:[[${timename[3]}]]
							},
							{
								value : [[${sum[4]}]],
								color : "#9358ac",
								label:[[${timename[4]}]]
							}

						];

						var barChartData = {
							labels : [[${timename}]],
							datasets : [

								{
									fillColor : "rgba(79, 82, 186, 0.83)",
									strokeColor : "#4F52BA",
									highlightFill: "#4F52BA",
									data : [[${sum}]]

								},
								{
									fillColor : "rgba(88, 88, 88, 0.83)",
									strokeColor : "#585858",
									highlightFill: "#585858",
									data : [[${count}]]
								}
							]

						};

						new Chart(document.getElementById("doughnut").getContext("2d")).Doughnut(doughnutData);

						new Chart(document.getElementById("bar").getContext("2d")).Bar(barChartData);

					</script>
				</div>
			</div>
		</div>
		<!--footer-->
		<div th:include="foot :: footer"></div>        <!--//footer-->
	</div>
	<!-- Classie -->
		<script src="js/classie.js"></script>
		<script>
			var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
				showLeftPush = document.getElementById( 'showLeftPush' ),
				body = document.body;
				
			showLeftPush.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( body, 'cbp-spmenu-push-toright' );
				classie.toggle( menuLeft, 'cbp-spmenu-open' );
				disableOther( 'showLeftPush' );
			};
			
			function disableOther( button ) {
				if( button !== 'showLeftPush' ) {
					classie.toggle( showLeftPush, 'disabled' );
				}
			}
		</script>
	<!--scrolling js-->
	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<!--//scrolling js-->
	<!-- Bootstrap Core JavaScript -->
   <script src="js/bootstrap.js"> </script>
</body>
</html>