
<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>基本版面设置</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">

        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }

	</script>
	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- Custom CSS -->
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<!-- font CSS -->
	<!-- font-awesome icons -->
	<link href="css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons -->
	<!-- js-->
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/modernizr.custom.js"></script>
	<!--webfonts-->
	<link
			href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic'
			rel='stylesheet' type='text/css'>
	<!--//webfonts-->
	<!--animate-->
	<link href="css/animate.css" rel="stylesheet" type="text/css"
		  media="all">
	<script src="js/wow.min.js"></script>
	<script>
        new WOW().init();
	</script>
	<!--//end-animate-->
	<!-- Metis Menu -->
	<script src="js/metisMenu.min.js"></script>
	<script src="js/custom.js"></script>
	<link href="css/custom.css" rel="stylesheet">
	<!--//Metis Menu -->
</head>
<body class="cbp-spmenu-push">
<div class="main-content">
	<!--left-fixed -navigation-->
	<div th:include="fenfaleftnav :: leftnav"></div>
	<!--left-fixed -navigation-->
	<!-- header-starts -->
	<div th:include="head :: header(staffName=${session.staff.staffName})"></div>
	<!-- //header-ends -->
	<!-- main content start-->
	<div id="page-wrapper">
		<div class="main-page">
			<div style="width: 100%; height: 35px;">
				<div style="float: left; margin-top: 20px">
					<h3>
						<a href="/topageadd"><span class="label label-primary">设置基本版面信息</span></a>
					</h3>
				</div>
			</div>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<div class="panel-body widget-shadow with:80%">
				<table class="table table-hover">
					<thead>
					<tr>
						<th>id</th>
						<th>类型</th>
						<th>星期</th>
						<th>版数</th>
						<th>操作</th>
					</tr>
					</thead>
					<tbody>
					<tr  th:each="pageInfo : ${pageInfos}">
						<th scope="row" th:text="${pageInfo.id}">1</th>
						<td th:text="${pageInfo.type}">null</td>
						<td th:text="${#dates.format(pageInfo.date,'yyyy-MM-dd')}">null</td>
						<td th:text="${pageInfo.pageNum}">null</td>
						<td><a th:href="@{/topageeedit(id=${pageInfo.id})}">编辑</a><a>|</a>
							<a th:href="@{pagedelete(id=${pageInfo.id})}"  onclick="return confirm('确认是否删除此信息？')"  >删除</a></td>
					</tr>
					</tbody>
				</table>
				<!--<div th:include="listpageInfo :: pageInfor" th:remove="tag" ></div>-->
			</div>
		</div>
	</div>
	<!--footer-->
	<div class="footer"></div>
	<!--//footer-->
</div>
<!-- Classie -->
<script src="js/classie.js"></script>
<script>
    var menuLeft = document.getElementById('cbp-spmenu-s1'), showLeftPush = document
        .getElementById('showLeftPush'), body = document.body;

    showLeftPush.onclick = function() {
        classie.toggle(this, 'active');
        classie.toggle(body, 'cbp-spmenu-push-toright');
        classie.toggle(menuLeft, 'cbp-spmenu-open');
        disableOther('showLeftPush');
    };

    function disableOther(button) {
        if (button !== 'showLeftPush') {
            classie.toggle(showLeftPush, 'disabled');
        }
    }
</script>
<!--scrolling js-->
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!--//scrolling js-->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.js">

</script>
</body>
</html>